# Configuration file

general {
    # Change ChromatiCraft item collector's behavior of collecting item from EntityJoinWorldEvent. Set the item to dead and set stack size to 0 instead of cancel event. [default: true]
    B:changeItemCollectorCollectItemFromEventBehavior=true

    # Disable ChromatiCraft's item mover interact with ISidedInventory container. [default: true]
    B:disableItemMoverInteractWithISidedInventory=true

    # Whether or not to disable M3 dungeon mob appears in non dungeon dimensions [default: true]
    B:disableM3DungeonMobAppearsInNonDungeonDimension=true

    # Whether or not to enable fixing Reika's damage armor method, prevent it to destroy some unbreakable armors [default: true]
    B:enableDamageArmorItemFix=true

    # Whether or not to enable fix crash when disassemble rotarycraft's gearbox [default: true]
    B:enableGearboxDisassembleFix=true

    # Whether or not to enable fix matter override android's name will grow infinity during loading and saving name [default: true]
    B:enableMOAndroidNameFix=true

    # Whether or not to enable fix of server crash when using bypass panel of shifting maze [default: true]
    B:enableShiftMazeBypassCrashFix=true

    # Whether or not to enable proxima structure bypass key calculation fix [default: true]
    B:enableStructureBypassKeyCalculationFix=true

    # Extra blacklist entity parent full class names for ChromatiCraft spawner reprogrammer
    # If an entity "is a" type of one of the follow classes, it won't be set in spawner reprogrammer
    # For example, "net.minecraft.entity.boss.IBossDisplayData", then all bosses can't be set for spawner in spawner reprogrammer [default: [net.minecraft.entity.boss.IBossDisplayData]]
    S:spawnerReprogrammerBlacklistEntityParent <
        net.minecraft.entity.boss.IBossDisplayData
        project.studio.manametalmod.instance_dungeon.IDungeonBoss
        com.lulan.shincolle.entity.BasicEntityAirplane
        com.lulan.shincolle.entity.BasicEntityMount
        com.lulan.shincolle.entity.BasicEntityShip
        com.lulan.shincolle.entity.BasicEntityShipHostile
        project.studio.manametalmod.mob.MobRabbitMoon
        project.studio.manametalmod.mob.MobPinkChocolateCow
        project.studio.manametalmod.festival.MobChestMoon
        project.studio.manametalmod.defensive_relic.EntityDefensiveRelicCore
        electroblob.wizardry.entity.living.EntitySummonedCreature
        electroblob.wizardry.entity.living.EntitySpiritWolf
        electroblob.wizardry.entity.living.EntitySpiritHorse
     >

    # Whether or not to try to reload minetweaker script (at most 3 times) on server started
    # This is used to try to fix hashing issue in Thermal Expansion recipes [default: true]
    B:tryReloadMTScriptOnServerStarted=true
}


