# Configuration file

biome {
    # Biome spawn probability
    S:"#"=#
    B:useBiomeAppleTrees=true
    B:useBiomeBadlandss=true
    B:useBiomeBarleys=true
    B:useBiomeCanyons=true
    B:useBiomeDeads=true
    B:useBiomeFertileForests=true
    B:useBiomeFlowerPalls=true
    B:useBiomeFlowers=true
    B:useBiomeForestFX=true
    B:useBiomeLavenders=true
    B:useBiomeOasiss=true
    B:useBiomePineForests=true
    B:useBiomeRichForests=true
    B:useBiomeSnowmountains=true
    B:useBiomeTallGrasss=true
    B:useBiomevolcanic=true
}


biomeid {
    # Biome IDs
    S:"#"=#
    I:BiomeAncient=169
    I:BiomeAppleTree=162
    I:BiomeBadlandss=170
    I:BiomeBarley=167
    I:BiomeCanyon=164
    I:BiomeCedarForests=175
    I:BiomeDead=158
    I:BiomeFertileForest=168
    I:BiomeFlower=157
    I:BiomeFlowerSea=160
    I:BiomeForestM3=161
    I:BiomeLavender=159
    I:BiomeMagic=174
    I:BiomeOasiss=172
    I:BiomePineForest=163
    I:BiomeRichForest=165
    I:BiomeSky=155
    I:BiomeSkyUniverse=156
    I:BiomeSnowmountains=171
    I:BiomeTallGrass=166
    I:BiomeThuliumDungeon=154
    I:Biomevolcanic=173
}


careerattack {
    # Career attack probability
    S:"#"=#
    D:attackAssassin=0.0
    D:attackBlowingArrows=0.0
    D:attackCurseman=0.0
    D:attackKnight=0.0
    D:attackPriest=0.0
    D:attackRanger=0.0
    D:attackSummoner=0.0
    D:attackSwordsman=0.0
    D:attackWizard=0.0
}


entitydrop {
    # Entity Drops
    S:"#"=#
    B:EntityDropBossReward=true
    B:EntityDropMoney=true
    B:EntityDropRewardBag=true
    B:EntityDropThuliumIngot=true
    B:EntityDropTreasureChest=true
    B:EntityDropTrophy=true
    B:EntityDropTrophyBlock=true
}


game {
    # server probability
    S:"#"=#
    B:BackpackDamage=true
    B:CanCraftChunkLoader=true
    I:DungeonResetTime=72000
    B:MachineRestriction=false
    B:NearDeath=true
    B:PreventBackpackCopyItem=true
    B:PreventIllegalDungeonItem=true
    B:Protect_Item_container=true
    B:RecordPlayerBlockAction=false
    B:UseExplosion=true
    B:UseHoeWaterFarmland=true
    B:UseIngotStack=true
    B:UseNoDeadGoldMedal=true
    B:UsePVPMod=false
    B:UseRawhide=true
    B:UseResistanceCrystal=true
    B:UseStrippedLog=true
    B:WeightSystem=true
    B:compatibility_mod=false
}


gameparameter {
    # Game Parameter
    S:"#"=#
    D:ArmorDamage=0.4
    D:BaseEXP=5.0
    D:BossDamage=1.25
    D:CareerDamage=0.25
    D:CareerPointDamage=0.04
    D:CritDamage=1.0
    D:DoubleExp=2.0
    D:ElementsDamage=0.4
    D:EnemyLevelDamage=0.04
    D:FishrodPower=0.0
    D:GlobalMaxDamage=2147483647.0
    D:LevelDamage=0.1
    D:LevelEXP=8.5
    D:ManaDefense=0.02
    D:MaxAvoid=90.0
    D:MaxManaDefense=20.0
    D:PlayerDamage=1.5
    D:RandomEXP=10.0
    D:SpecializationEXP=0.1
    D:SpecializationPointDamage=0.05
    D:WeaponBaseEXP=5.0
    D:WeaponDaggerCrit=5.0
    D:WeaponEXPMultiplier=1.1
    D:WeaponLVDamage=0.01
    D:WeaponMaxLV=30.0
    D:WeaponQualityDamage=0.01
    D:WeaponRandomEXP=10.0
    D:WeaponStarDamage=0.02
}


gamesystem {
    # Game System
    S:"#"=#
    B:BossDeadMessage=true
    B:BreakBedrock=true
    B:CanBossAntiMagic=false
    B:CanEntityBleed=false
    B:CollapseSystem=false
    B:DropAuthorItems=true
    B:DropBaubles=true
    B:DropExp=true
    B:DropMoney=true
    B:DropOrgan=true
    B:DropSoul=true
    B:DynamicLighting=false
    B:Extinguished=true
    B:FoodRot=true
    B:MedalTitle=true
    B:OreBackpack=true
    B:PotionFlyInv=true
    B:ProtectSpecialBlock=true
    B:RangeHarvest=true
    B:RespawnInvincible=true
    B:SaltWater=true
    B:SeasonSystem=true
    B:ShowUITargetData=true
    B:SurvivalFactor=true
    B:TiredofEatingtheSameFood=true
    B:UIBloodFX=true
    B:UseDispersionOreSpawn=false
    B:UseEasyMetalRecipe=false
    B:UseTrophyCollection=true
    B:UseUniverseMessage=true
    B:advancedItemRender=false
    B:removeBaseTool=true
    B:removeBedRecipe=true
    B:removeIronIngotRecipe=true
    B:removeWoodRecipe=true
    B:useOffHand=true
}


net {
    # NET probability
    S:"#"=#
    B:NETSponsor=true
    B:NETVersionCheck=true
}


oresize {
    # Extra Ore spawn Size and Chance
    S:"#"=#
    I:OreSpawnCount=0
    I:OreSpawnSize=0
}


orespawn {
    # Ore Spawns
    S:"#"=#
    B:Adamantine=true
    B:Aluminum=false
    B:Amber=false
    B:Amethyst=true
    B:Antimony=false
    B:Aquamarine=true
    B:Biliha=true
    B:Bismuth=false
    B:BlackDiamond=true
    B:Calcium=false
    B:Cerium=false
    B:Chromium=true
    B:Citrine=true
    B:Cobalt=true
    B:Copper=false
    B:Cordierite=true
    B:DragonCrystal=true
    B:EnderCrystal=true
    B:EnderGold=false
    B:EnergyCrystal=true
    B:Garnet=true
    B:Goslarda=true
    B:HolyCopper=true
    B:Iridium=false
    B:Jade=true
    B:Lead=false
    B:Lignite=true
    B:Lithium=true
    B:LunaStone=true
    B:Magnesium=false
    B:Mana=true
    B:Manganese=true
    B:Mithril=true
    B:Molybdenum=false
    B:Moonstone=false
    B:MysteriousIron=true
    B:MysteriousSoul=true
    B:Nickel=false
    B:Opal=true
    B:Orichalcum=true
    B:Osmium=true
    B:Palladium=true
    B:Platinum=false
    B:Potassium=false
    B:PreciousIron=true
    B:PurgatoryIron=false
    B:RainbowOpal=true
    B:RainbowSteel=true
    B:Rhodium=false
    B:Rosite=true
    B:Ruby=true
    B:Sapphire=true
    B:Scandium=false
    B:Silver=false
    B:Sodium=false
    B:SoulGold=true
    B:SoulSteel=true
    B:Spinel=true
    B:SpiritSteel=true
    B:StartleSilver=true
    B:Sunstone=false
    B:Tanzanite=true
    B:Thulium=true
    B:Tin=false
    B:Titan=true
    B:Titanium=true
    B:Tourmaline=true
    B:Uranium=false
    B:Vanadium=false
    B:Wolfram=true
    B:Yamagata=true
    B:Yttrium=false
    B:Zinc=true
    B:Zircon=true
    B:abundantOreAluminum=true
    B:abundantOreCopper=true
    B:abundantOreIron=true
    B:abundantOreLead=true
    B:abundantOreSilver=true
    B:abundantOreZinc=true
    B:orePeat=true
    B:oreStar=true
}


spawnprobability {
    # world object spawn probability
    S:"#"=#
    I:SpawnProbability_BadGuyBase=1600
    I:SpawnProbability_CrystalDefense=800
    I:SpawnProbability_Dungeon=450
    I:SpawnProbability_Spring=2600
    I:SpawnProbability_TreasureChest=1
    I:SpawnProbability_Village=450
}


useitem {
    # item probability
    S:"#"=#
    B:UseItemWandBlockMove=true
    B:UseItemWandProtection=true
    B:UseItemWandSmooth=true
    B:UseItemWandTeleport=true
}


worldgenerator {
    # World generator property
    S:"#"=#
    B:WorldGenCaveDecoration=true
    B:WorldGenCrystal=true
    B:WorldGenDungeon=true
    B:WorldGenFlower=true
    B:WorldGenGrass=true
    B:WorldGenGrassPlant=true
    B:WorldGenKit=true
    B:WorldGenOre=true
    B:WorldGenOreEnder=true
    B:WorldGenOreHell=true
    B:WorldGenOreSky=true
    B:WorldGenPeat=true
    B:WorldGenPoorOre=true
    B:WorldGenRock=true
    B:WorldGenSpawnTower=true
    B:WorldGenTreasureChest=true
}


worldgenstone {
    B:WorldGenStone=true
}


worldid {
    # World IDs
    S:"#"=#
    I:ManaWorldSkyID=88
    I:ThuliumRemainsID=87
    I:WorldAncientID=92
    I:WorldBlueCaveID=90
    I:WorldInstanceDungeonID=89
    I:WorldMineCaveID=91
    I:WorldPyramidID=95
    I:WorldUndeadGraveID=93
}


